nav {
  float: left;
  width: 200px;
  height: 600px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 46px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  padding-bottom: 2rem;
  cursor: pointer;
}
